---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: note,
  }));
}
type Props = CollectionEntry<"notes">;

const note = Astro.props;
const { Content } = await note.render();
---

<Layout
  title={note.data.title}
  description={note.data.description ?? ""}
  image={note.data.image}
>
  <main>
    <h1 class="mb-5 text-xl font-medium">
      {note.data.title}
    </h1>
    <p class="mb-1 font-medium text-zinc-500">
      {formatDate(note.data.publishedAt)}
    </p>
    <article>
      <Content />
    </article>
  </main>
</Layout>
